/NetBeansProjects/Aula4/nbproject/private/
/NetBeansProjects/Aula4/build/
/NetBeansProjects/TrabalhoPilhas/nbproject/private/
/NetBeansProjects/Aula3/nbproject/private/
/NetBeansProjects/Aula5/nbproject/private/