/NetBeansProjects/Aula4/nbproject/private/
/NetBeansProjects/Aula4/build/
/NetBeansProjects/TrabalhoPilhas/nbproject/private/
/NetBeansProjects/Aula3/nbproject/private/
/NetBeansProjects/Aula5/nbproject/private/
/NetBeansProjects/TrabalhoPilhas/build/
/NetBeansProjects/Aula5/build/
/NetBeansProjects/Aula6/nbproject/private/
/NetBeansProjects/Aula6/build/